# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Environment / Secrets
# =========================
.env
.env.*

# =========================
# Temporary Files
# =========================
*.tmp
*.temp

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Intermediate ML Models
# =========================
model/phishing_model.pkl
model/phishing_model_v2.pkl